.place__title {
    grid-area: title;
    font-size: 72px;
    line-height: 1.05;
    margin: 0;
    align-self: end;
}

@media screen and (max-width: 768px) {                         
    .place__title {
        font-size: 42px;
    }
}

@media screen and (max-width: 320px) {                                        
    .place__title {
        margin: 0 16px;
        font-size: 32px;
    }
}