.places {
    margin-left: auto;
    margin-right: auto;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {                
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {                     
    .places {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {                                    
    .places {
        max-width: 100%;
    }
}