.footer__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.2;
}

@media screen and (max-width: 767px) {                                                       
    .footer__link {
        font-size: 24px;
        line-height: 1;
    }
}