.intro {
    margin-left: auto;
    margin-right: auto;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {         
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {                 
    .intro {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {                          
    .intro {
        max-width: 90%;
    }
}