.intro {
    margin-left: calc((100vw - 984px) / 2);
    width: 690px;
}

@media screen and (max-width: 1024px) {         
    .intro {
        margin-left: calc((100vw - 928px) / 2);
    }
}

@media screen and (max-width: 768px) {                 
    .intro {
        margin-left: 24px;
        margin-right: 24px;
        width: 92%;
    }
}

@media screen and (max-width: 320px) {                          
    .intro {
        margin-left: 16px;
        margin-right: 16px;
    }
}