.cover__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover__overlay:hover {
    background: rgba(0, 0, 0, .8);
}