.lead__caption {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {       
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {                
    .lead__caption {
        margin-left: 16px;
    }
}

