.lead__caption {
    margin: 0 calc((100vw - 984px) / 2);
    text-align: left;
    width: 158px;
    font-size: 10px;
    line-height: 1.4;
}

@media screen and (max-width: 1024px) {      
    .lead__caption {
        margin: 0 calc((100vw - 928px) / 2);
    }
}

@media screen and (max-width: 768px) {             
    .lead__caption {
        margin: 0;
    }
}

@media screen and (max-width: 320px) {                      
    .lead__caption {
        margin: 0;
    }
}