.cover__title {
    font-size: 72px;
    line-height: 1.05;
    margin-bottom: 32px;
    text-align: center;
}

@media screen and (max-width: 320px) {                                                    
    .cover__title {
        font-size: 32px;
        margin-bottom: 16px;
    }
}