.cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 1.05;
    font-weight: 900;
    margin: 0 auto 32px;
    text-align: center;
}

@media screen and (max-width: 767px) {                                                    
    .cover__title {
        max-width: 90%;
        font-size: 32px;
        margin-bottom: 16px;
    }
}