.page__section {
    margin-bottom: 92px;
}

@media screen and (max-width: 1023px) {
    .page__section {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .page__section {
        margin-bottom: 64px;
    }
}