.place {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-areas:
        "title website"
        "image text"
        ". text";
    row-gap: 48px;
    column-gap: 40px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {                    
    .place {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {                         
    .place {
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
    }
}

@media screen and (max-width: 320px) {                                        
    .place {
        margin-bottom: 50px;
        display: block;
    }
}