.footer {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1279px) {                                    
    .footer {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1023px) {                                    
    .footer {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 767px) {                                                       
    .footer {
        margin-left: 16px;
        margin-right: auto;
        display: block;
    }
}