.header__lang-links {
    align-self: center;
    display: flex;
    font-size: 24px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 78px;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {       
    .header__lang-links {
        font-size: 18px;
        width: 62px;
    }
}