.footer__list-item {
    margin: 0 18px 0 0;
}

.footer__list-item:last-of-type {
    margin: 0;
}

@media screen and (max-width: 767px) {                                                        
    .footer__list-item {
        margin: 0 0 32px 0;
    }
}